.main-content-item {
  padding: $gap / 4;

  @include sm-min {
    flex: 0 0 33.3333%;
  }
  @include sm-xx {
    flex: 0 0 50%;
  }
  @include xx {
    flex: 0 0 100%;
  }

  &:hover {
    .main-content-item__excerpt {
      top: 30px;

      color: $color-light;

      @include bg-color(0.75);
    }
  }
}
